<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "../static/styles/header.css">
    <title>CSET 160 Final</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/images/logo.png" alt="Company Logo">
            </div>
            <div class="login_header">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('studentsignup') }}">Student sign up</a></li>
                    <li><a href="{{ url_for('teachersignup') }}">Teacher sign up</a></li>
                    <li><a href="{{ url_for('test') }}">View Test</a></li>
                    <li><a href="{{ url_for('viewAll') }}">View Accounts</a></li>
                    <li><a href="{{ url_for('createTest') }}">Create Test</a></li>
                    <li><a href="{{ url_for('editTest') }}">Edit Test</a></li>
                    <li><a href="{{ url_for('deleteTest') }}">Delete Test</a></li>
                </ul>
            </div>
            <div class="header_name">
                <h1>Prestige Worldwide</h1>
            </div>
        </nav>
    </header>

    {% block body %}
    {% endblock %}
</body>
</html>